<div class="header-container">
    <nav class="header-nav-bar">
        <div class="header-nav-logo">
            <a href="index.html">
                <img src="https://res.cloudinary.com/joshuafolorunsho/image/upload/v1591615159/star_hotels_logo.png"
                    alt="star hotels logo">
            </a>
        </div>
        <ul class="header-nav-lists">
                <li class="header-nav-list">
                    <a class="header-nav-link header-active" routerLink="/">Accueil</a>
                </li>
                
                        <li class="header-nav-list"><a class="header-nav-link"
                            routerLink="/listeChambre">ListeChambres</a></li>
                <li class="header-nav-list"><a class="header-nav-link" href="facilities.html">Facilities</a></li>
                <li class="header-nav-list"><a class="header-nav-link" href="contact-page.html">Contact Us</a></li>
                <li class="header-nav-list"><a class="header-btn header-btn-custom" routerLink="/reservation">Reservation</a></li>
                <li class="header-nav-list"><a class="header-btn header-btn-custom" routerLink="/login">Login</a></li>
        
            </ul>
    
    <div class="header-hamburger-icon">
       <div class="header-hamburger-line-1"></div>
       <div class="header-hamburger-line-2"></div>
       <div class="header-hamburger-line-3"></div>
    </div>
 </nav>
 <hr/>
 </div>

