<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Star Hotels Helps you Discover The Perfect Balance
	Of Hospitality, Luxury And
	Comfort.">
	<title>Star Hotels</title>

</head>
<body >
	
  
	<div class="jumbotron-container">
		
		<div class="jumbotron-left">
			<!-- <form class="jumbotron-form">
				<mat-form-field>
					<mat-label>CIN</mat-label>
					<input matInput placeholder="cin" formControlName="cin">
				</mat-form-field>
				
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input matInput formControlName="name">
				</mat-form-field>
				
				<mat-form-field>
					<mat-label>CV</mat-label>
					<input matInput formControlName="cv">
				</mat-form-field>
				
				<mat-form-field>
					<mat-label>Type</mat-label>
					<input matInput formControlName="type">
				</mat-form-field>
			
				
				</form>
				<button type="submit">enregistrer</button> -->
			 <form class="jumbotron-form">
					<table>
						<tr>
							<td>
								<label class="hide" for="arrival">arrival date</label>
								<input type="text" id="arrival" name="arrival_date" placeholder="Arrival Date" onfocus="(this.type='date')" >
							</td>
							<td>
								<label class="hide" for="departure">departure date</label>
								<input type="text"  id="departure" name="departure_date" placeholder="Departure Date" onfocus="(this.type='date')" >
							</td>
							<td>
								<label class="hide" for="guests">how many guests</label>
								<input type="text" id="guests" name="guests" placeholder="Guests">
							</td>
							<td >
								<label class="hide" for="children">children</label>
								<input type="text" id="children" name="children" placeholder="Children">
							</td>
							
						</tr>
						<tr>
							<td colspan="4">
								<button type="button" class="rates">CHECK RATES</button>
							</td>
						</tr>
						
					</table>
					
					
			</form> 
			<table>
				<tr>
					<td><mat-card class="card">
						<ng-container>
						  
							<img class="imagecard" [src]="image" alt="" />
						  
						</ng-container>
						<mat-card-header>
						  <mat-card-title>Type: {{type }}</mat-card-title>
						</mat-card-header>
						<div class="buttons-container">
						  <a routerLink="/reservation/{{type}}" class="btn-ghost">Reserver</a>
						  
						  
					  </div>
					  </mat-card></td>
					<td><mat-card class="card">
						<ng-container>
						  
							<img class="imagecard" [src]="image1" alt="" />
						  
						</ng-container>
						<mat-card-header>
						  <mat-card-title>Type: {{type1 }}</mat-card-title>
						</mat-card-header>
						<div class="buttons-container">
						  <a routerLink="/reservation/{{type1}}" class="btn-ghost">Reserver</a>
						  
						  
					  </div>
					  </mat-card>
					</td>
					<td><mat-card class="card">
						<ng-container>
						  
							<img class="imagecard" [src]="image2" alt="" />
						  
						</ng-container>
						<mat-card-header>
						  <mat-card-title>Type: {{type2 }}</mat-card-title>
						</mat-card-header>
						<div class="buttons-container">
						  <a routerLink="/reservation/{{type2}}" class="btn-ghost">Reserver</a>
						  
						  
					  </div>
					  </mat-card>
					</td>
					<td><mat-card class="card">
						<ng-container>
						  
							<img class="imagecard" [src]="image3" alt="" />
						  
						</ng-container>
						<mat-card-header>
						  <mat-card-title>Type: {{type3 }}</mat-card-title>
						</mat-card-header>
						<div class="buttons-container">
						  <a routerLink="/reservation/{{type3}}" class="btn-ghost">Reserver</a>
						 
						  
					  </div>
					  </mat-card>
					</td>
				</tr>
			</table>
			
				
				
			</div>
	
		
		


	
	
				

	</div>
	<br><br><br><br><br>
	<footer class="footer">
		<div class="footer-container">
			<nav class="footer-nav">
				<div class="footer-description">
					<h3 class="footer-description-title">Star Hotels</h3>
					<p>Hospitality and Comfort are our watchwords</p>
				</div>
				<div class="footer-contact-us">
					<h3 class="footer-description-title">Contact Us</h3>
					<p class="footer-description-detail"> 
						<img src="./assets/img/map-pin.svg" class="footer-description-icon" alt="star hotel location">

						<span>23, Fola Osibo, Lekki Phase 1</span></p>
					<p class="footer-description-detail">
						<img src="./assets/img/phone.svg" class="footer-description-icon" alt="star hotels phone number"> 
						<span>
					 08185956620</span></p>
					<p class="footer-description-detail">
						<img src="./assets/img/mail.svg" class="footer-description-icon" alt="star hotels email">
						<span>support@starhotels.com</span> </p>
				</div>
				<div class="footer-follow-us">
					<h3 class="footer-description-title">Follow Us</h3>
					<ul class="footer-follow-us-lists">
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/facebook.svg" alt="star hotels facebook page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/twitter.svg" alt="star hotels twitter page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="./assets/img/instagram.svg" alt="star hotels instagram page">
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</footer>
	<script defer async>
		(() => {
			const loader = document.getElementById('loader');
			const scrollBar = document.getElementsByClassName('scroll-bar')[0];
			window.addEventListener('load', () => {
				loader.classList.add('none');
				scrollBar.classList.remove('scroll-bar')
			});
		})();
	</script>
	
</body>
</html>

